# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  customization_debug:
    type: boolean
    description: Enable debug for custom templates
    default: false
  customization_sources_url:
    type: string
    description: URL for the git repository containing the customization files
    default: ''
  enable_roombooking:
    type: boolean
    description: Enable the room booking plugin.
    default: false
  external_plugins:
    type: string
    description: Comma separated list of external plugins to be installed, e.g. git+https://github.com/indico/indico-plugins-cern.git/#subdirectory=themes_cern. The format of each item must be supported by pip.
    default: ''
  indico_no_reply_email:
    type: string
    description: Email address used when sending emails to users to which they should not reply.
    default: 'noreply@mydomain.local'
  indico_public_support_email:
    type: string
    description: Email address that is shown to users on the “Contact” page.
    default: 'support@mydomain.local'
  indico_support_email:
    type: string
    description: Email address of the technical manager of the Indico instance.
    default: 'support-tech@mydomain.local'
  site_url:
    type: string
    description: URL through which Indico is accessed by users.
    default: ''
