# Copyright 2022 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  customization_debug:
    type: boolean
    description: Enable debug for custom templates
    default: false
  customization_sources_url:
    type: string
    description: URL for the git repository containing the customization files
    default: ''
  enable_roombooking:
    type: boolean
    description: Enable the room booking plugin.
    default: false
  external_plugins:
    type: string
    description: Comma separated list of external plugins to be installed, e.g. git+https://github.com/indico/indico-plugins-cern.git/#subdirectory=themes_cern. The format of each item must be supported by pip.
    default: ''
  indico_no_reply_email:
    type: string
    description: Email address used when sending emails to users to which they should not reply.
    default: 'noreply@mydomain.local'
  indico_public_support_email:
    type: string
    description: Email address that is shown to users on the “Contact” page.
    default: 'support@mydomain.local'
  indico_support_email:
    type: string
    description: Email address of the technical manager of the Indico instance.
    default: 'support-tech@mydomain.local'
  http_proxy:
    type: string
    description: HTTP proxy URL to be used when installing plugins or downloading customization files, e.g. 'http://squid.example:3128'.
    default: ''
  https_proxy:
    type: string
    description: HTTPS proxy URL to be used when installing plugins or downloading customization files, e.g. 'http://squid.example:3128'.
    default: ''
  ldap_host:
    type: string
    description: URL for the LDAP server to use as identity provider. Requires SAML to be configured.
    default: ''
  ldap_password:
    type: string
    description: LDAP for the LDAP server to use as identity provider.
    default: ''
  saml_target_url:
    type: string
    description: Target URL for SAML SSO authentication.
    default: ''
  site_url:
    type: string
    description: URL through which Indico is accessed by users.
    default: ''
  smtp_login:
    type: string
    description: The username to send if the SMTP server requires authentication.
    default: ''
  smtp_password:
    type: string
    description: The password to send if the SMTP server requires authentication.
    default: ''
  smtp_port:
    type: int
    description: The port of the SMTP server used for sending emails.
    default: 25
  smtp_server:
    type: string
    description: The hostname of the SMTP server used for sending emails.
    default: ''
  smtp_use_tls:
    type: boolean
    description: If enabled, STARTTLS will be used to use an encrypted SMTP connection.
    default: true
  s3_storage:
    type: string
    description: Comma separated list of parameters to connect to S3 as in 's3:bucket=my-indico-test-bucket,access_key=12345,secret_key=topsecret'. Details on the available options can be found at https://github.com/indico/indico-plugins/blob/master/storage_s3/README.md#available-config-options
    default: ''

