name: Publish to edge

# On push to a "special" branch, we:
# * always publish to charmhub at latest/edge/branchname
# * always run tests
# where a "special" branch is one of main/master or track/**, as
# by convention these branches are the source for a corresponding
# charmhub edge channel.

on:
  push:
    # branches:
    #   - master
    #   - main
    #   - track/**

jobs:
  lib-check:
    # This job is the precondition of all jobs that need the Charmhub token.
    # By disabling this job on forked repositories, we can achieve 
    # disabling the publishing to Charmhub action on forked repositories 
    # while still running tests on push events
    if: github.repository_owner == 'canonical'
    name: Check libraries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@1.0.3
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
  tests:
    name: Run Tests
    uses: ./.github/workflows/ci.yaml
  publish-indico-image:
    name: Publish indico image to charmhub
    runs-on: ubuntu-latest
    needs: [ lib-check, tests ]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/publish_oci_resource
        with:
          charm-name: indico
          resource-name: indico-image
          charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
  publish-indico-nginx-image:
    name: Publish nginx image to charmhub
    runs-on: ubuntu-latest
    needs: [ lib-check, tests ]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/publish_oci_resource
        with:
          charm-name: indico
          resource-name: indico-nginx-image
          charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
  # select-channel:
  #   name: Select target channel
  #   runs-on: ubuntu-latest
  #   outputs:
  #     channel: ${{ steps.channel.outputs.name }}
  #   steps:
  #     - name: Select charmhub channel
  #       uses: canonical/charming-actions/channel@1.0.3
        id: channel
  publish-charm:
    name: Publish charm to ${{ needs.select-channel.outputs.channel }}
    runs-on: ubuntu-latest
    needs: [ publish-indico-image, publish-indico-nginx-image ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@1.0.3
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: edge
          upload-image: false
