name: Publish

on:
  workflow_call:
    secrets:
      charmhub-token:
        required: true

jobs:
  publish-indico-image:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Install charmcraft
        run: sudo snap install charmcraft --classic
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx
      - name: Build image
        id: build_image
        uses: docker/build-push-action@v2
        with:
          tags: indico:latest
          file: indico.Dockerfile
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
      - name: Publish image
        env:
          CHARMCRAFT_AUTH: ${{ secrets.charmhub-token }}
        run: echo ${{ join(steps.build_image.outputs.*, '\n')}}
  publish-nginx-image:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Install charmcraft
        run: sudo snap install charmcraft --classic
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx
      - name: Build image
        id: build_nginx
        uses: docker/build-push-action@v2
        with:
          tags: indico-nginx:latest
          file: indico-nginx.Dockerfile
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
      - name: Publish image
        env:
          CHARMCRAFT_AUTH: ${{ secrets.charmhub-token }}
        run: |
          run: echo ${{ join(steps.build_nginx.outputs.*, '\n')}}
  publish-charm:
    runs-on: ubuntu-latest
    needs: [publish-indico-image, publish-nginx-image]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Select charmhub channel
        uses: canonical/charming-actions/channel@1.0.3
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@1.0.3
        with:
          credentials: "${{ secrets.charmhub-token }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: "${{ steps.channel.outputs.name }}"
          upload-image: false


